@tailwind base;

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */
html {
  @apply font-serif;
  @apply font-mono;
  @apply antialiased;
 
}

body {
  @apply h-full;
  @apply w-full;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
